@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --btn-add: #00B1B1;
    --btn-remove: #FF8D8D;
    --color-font: #ccc;
    --color-font-second: #00b1b1;
    --color-title: #828282;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
        /* Cor de fundo adicional */
}

main {
    width: 80%;
    max-width: 800px;
        height: 700px;
        max-height: 90%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--color-title);
    border-radius: 30px;
    padding: 20px;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
        width: 40%;
}

main h1 {
    color: var(--color-title);
    font-size: 1.5rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
        margin-bottom: 20px;
        color: var(--color-font);
}

.addList {
    width: 80%;
        height: 50px;
    border-radius: 10px;
    border: 1px solid var(--color-font);
    padding: 0.75rem;
    font-size: 1rem;
}

.btnAdd {
    background-color: var(--btn-add);
    width: 50px;
        height: 50px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btnAdd:hover {
    background-color: #009696;
}

.listItems {
    width: 100%;
    max-height: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
        color: var(--color-font-second);
        /* Espaço entre itens */
}

.listItems ul {
    list-style: none;
    width: 100%;
    padding: 0;
}

.listItems li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
        border: 1px solid var(--color-font);
        border-radius: 10px;
            background-color: #fff;
            margin: 10px 0;
}

.btnRemove {
    background-color: var(--btn-remove);
    height: 40px;
        width: 40px;
        border-radius: 20%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btnRemove:hover {
    background-color: #d45a5a;
}

.BoxCheck {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

#infoBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: var(--color-title);
    margin-top: 20px;
        font-size: 0.9rem;
    }
    
    .checked {
        text-decoration: line-through;
        color: var(--color-font-second);
        font-weight: 500;
        font-style: italic;
        transition: all 0.3s ease-in-out;
}